<html>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
			
	
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="landingpage1_cb.js"></script>
	<script type="text/javascript" src="landingpage_cbutils.js"></script>
	
	<script type="text/javascript" src="nicEdit-latest.js"></script>
	
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<head>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audimat">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fontin-Sans">
	

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
		
		<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script-->





	
		<!--script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   
				
					<script type="text/javascript" src="landingpage1_cb.js"></script>
	<script type="text/javascript" src="landingpage_cbutils.js"></script>

<script type="text/javascript" src="nicEdit-latest.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
	
	
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Faster One' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Combo' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Federant' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Marck Script' rel='stylesheet'-->
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="landingpage1_cb.js"></script>
	<script type="text/javascript" src="landingpage_cbutils.js"></script>
	
	<script type="text/javascript" src="nicEdit-latest.js"></script>
	
	 <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
	 <!--link rel="stylesheet" href="bootstrap.min.css"-->
	 <link rel="stylesheet" href="bootstrap.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
		
		<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Faster One' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Combo' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Federant' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Marck Script' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Arsenal' rel='stylesheet'>
		
		
	
	
</head>

	<style>
		#draggable { width: 750px; height: 750px; padding: 0.5em; }
		textarea { background-color: c0c0f0 }
		
		h1 {
		     font-family: 'Josefin', slab;
		     font-size: 48px;
		     text-shadow: 2px 2px 2px #aaa;
		}
		
		h5 {
		     font-family: 'Josefin', slab;
		     font-size: 14px;
		     
		}
		
		.a1 {
			  font-family: 'Anivers';
		     font-size: 18px;
		     text-shadow: 2px 2px 2px #aaa;
			 color: c0c0f0
			  
		}
		
		.a2 {
			  font-family: 'Josefin';
		     font-size: 18px;
		     text-shadow: 2px 2px 2px #aaa;
			 color: c0c0f0  
		}
		
		.a3 {
			  font-family: 'Sofia';
		     font-size: 18px;
			 color: c0c0f0
		}
		
		
		
		a:hover {
 cursor:pointer;
}
		
		.a4 {
			  font-family: 'Combo';
		     font-size: 18px;
			 color: 98DDDE
		}
		
				
		.a5 {
			  font-family: 'Federant';
		     font-size: 18px;
			 color: D4E852
		}

		.a6 {
			  font-family: 'Marck Script';
		     font-size: 18px;
			 color: FEF6D7
		}

		.a7 {
			  font-family: 'Arsenal';
		     font-size: 18px;
			 color: FEF6D7
		}
		
		.a_topic {
			  font-family: 'Anivers';
		     font-size: 16px;
		     text-shadow: 1px 1px 1px #aaa;
			 color: FFD700
			  
		}
		
		.login_name {
			  font-family: 'Anivers';
		     font-size: 16px;
		     text-shadow: 1px 1px 1px #aaa;
			 color: c0c0c0
			  
		}
		
		.topics_des {
			  font-family: 'Anivers';
		     font-size: 16px;
		     text-shadow: 0px 0px 0px #aaa;
			 color: c0c0c0
			  
		}
		
		tr.spaceUnder>td {
			padding-bottom: 2em;
		}
		
		tr.spaceUnder1>td {
			padding-bottom: 0.4em;
		}

		tr.spaceUnder2>td {
			padding-bottom: 1.4em;
		}
		
		.textarea_nodrag {
			resize: none;
		}
		
			tr.spaceTop>td {
			padding-top: 8em;
		}
		
		.btn-transparent {
			background: transparent;
		    color: #c0c0c0;
		    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
		    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
		    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
			transition: background .2s ease-in-out, border .2s ease-in-out;
			border: 1px solid #c0c0f0;
		}

	    .btn-transparent:hover {
	        color: black;
	        background-color: c0c0e0;
		}
		
		.login-space {
			padding-top: 0px;
			padding-bottom: 60px;
		}
		
		.techs-div {
			
			padding-left: 600px;
		}
		
		.logo {
		     font-family: 'Josefin', slab;
		     font-size: 24px;
			 font-color: FFD700
		     text-shadow: 2px 2px 2px #aaa;
			 color: #93DC69
		}
		
		.logo1 {
		     font-family: 'Josefin', slab;
		     font-size: 24px;
			 font-color: 000000
		     text-shadow: 2px 2px 2px #aaa;
			 color: #D4E852
		}
		
	div1:empty:before {
  content:attr(data-placeholder);
}









.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}


input::placeholder {
font-family: 'Arsenal';
font-size: 18px;
}

textarea::placeholder {
font-family: 'Arsenal';
font-size: 18px;
}

.nav-tabs { border-bottom: 2px solid #c0c0c0; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #000 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 0px 0; }
.tab-content{padding:2px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

	</style>

		
		
<body style="background-color:#1F1F1F">
	

		
<div class="container">

			<div class="row" >
	<% include landingpage_header %>
	

	
		<div class="col-lg-12 col-" id=row style="padding-left:0px;padding-bottom:0px;padding-top:60px;">
			<input type=hidden id=temp_var_hid>
			<ul class="nav nav-pills" id=technology_col>
				<% technology_collection.collections.forEach(function(technology)  {%>
				<% var display_name %>
				
				<!--% var id = technology + "_tab" %-->
				<% var id = technology %>
				<% id = id.replace(/ /g,'_'); %>
				<% var href = "#" + id %>
				<% if(technology == 'cplusplus') { %>
					<%	display_name = 'C++' %>
				<% } else { %>
					<% display_name = technology %>
				<% } %>
				<li><a class="a5" data-toggle="tab" href=<%= href %> id=<%= id %> ><%= display_name %></a></li>
				<% }) %>
			</ul>

	</div>
	</div>
</div>

	<br>
	
	<div class="container" >
		<div class="row" >
			<!--div class="col-lg-4"-->
    <div id="subject_topic"  class="col-lg-10 col-xs-12 tab-pane fade in active" style="background-color:;">
		Click on technology tabs to get list of topic discussions
				</div>
				<!--/div-->
				<!--div class="col-lg-12" style="background-color:#c0c0f0;"-->
					
						<div class="a6 col-lg-9 " id=div_about style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;">
							It takes three things to market a brand successfully: strong branding, a consistent message, and a way with words. Well written copy helps to project a professional image and strengthen your reputation and, by using the same tone and repeating key phrases and wording across all your marketing materials, can increase brand recognition offline and improve your search engine optimisation (SEO) online. 
		Quality content is the number one driver of your search engine rankings. Well thought out copy can increase traffic to your website and social media accounts, build trust, generate new leads, and help you develop a closer relationship with your customers. Clumsily done, however, and it’s one of the fastest ways to turn off your audience.
	</div>

	<div class="a6 col-lg-9 " id=div_contact style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
		The Contacts Provider is a powerful and flexible Android component that manages the device's central repository of data about people. The Contacts Provider is the source of data you see in the device's contacts application, and you can also access its data in your own application and transfer data between the device and online services. The provider accommodates a wide range of data sources and tries to manage as much data as possible for each person, with the result that its organization is complex. Because of this, the provider's API includes an extensive set of contract classes and interfaces that facilitate both data retrieval and modification.
	</div>
					
	<div class="a6 col-lg-9 " id=div_admin_controls style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
		Admin controls appear here
	</div>
					
		<div class="a6 col-lg-9 " id=div_user style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
		User settings appear here
	</div>

		<div class="a6 col-lg-9 " id=div_add_admin_user style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
		Admin creates new admin user here
	</div>
		
		<div class="container a6 col-lg-9 " id=div_manipulate_technology style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
		<!--Add remove technology happens here-->
		<div class=row>
		<table class="a5" style="border-spacing: 5px; border-collapse: separate;">
			<tr>
				<td>
					<input type=text class="form-control" id=collection_name placeholder="Enter collection name">
				</td>
				<td align=right>
					<button class="btn btn-primary" id=create_collection>Create Collection</button>
				</td>
				<td align=right>
					<button class="btn btn-primary" id=delete_collection>Delete Collection</button>
				</td>
			</tr>
		</table>
		</div>
	</div>

		<div class="a6 col-lg-9 " id=div_check_messages style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
		Admin checks for user messages here
	</div>
					
				</div>
				</div>
	</div>
				


	





</body>
</html>


	
<script>
	

          

				var myNicEditor = new nicEditor();
    
	
	
$(document).ready(function() {
	
	

	
	
		console.log('hello')
		bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
		
		//myNicEditor.panelInstance('myArea2')
		
		var tabs = ''
		var tech_collection = '<%= technology_collection.collections %>'
		tech_collection = tech_collection.split(',')
		
		tech_collection.forEach(function(technology) {
			if(tabs != '') {
				tabs += ','
			}
			console.log(technology)
			//tabs += '#' + technology + '_tab'
			technology = technology.replace(/ /g,'_');
			tabs += '#' + technology
		})

		console.log(tabs)
		
		var dataJobj = { 'user' : '<%= user %>', 'editsave' : '<%= editsaveDisabled %>', 'delete' : '<%= deleteDisabled %>', 'add_topic_table' : '<%= add_topic_tableDisabled %>', 'tabs' : tabs }

		get_technology_topics(dataJobj);

		$("#home,#about,#contact,#user,#add_admin_user,#manipulate_technology,#check_messages").on('click', (event) => {
			var item = event.target.id;
			console.log('item: ' + item)

			$('#ul_bar li').each(function(i) {
				var id = $(this).attr('id'); // This is your rel value
				console.log(id)
				if("li_" + item == id) {
					$("#" + id).addClass('active')
				}
				else {
					$("#" + id).removeClass('active')
				}
			})
			
			$('#ul_bar li a').each(function(i) {
				var id = $(this).attr('id'); // This is your rel value
				console.log(id)
				if(item == id) {
					console.log('hiding: ' + "#div_" + item)
					$("#div_" + item).show()
				}
				else {
					console.log('showing: ' + "#div_" + item)
					$("#div_" + id).hide()
				}
			})
			
			if(item == 'home') {
				$("#row").show()
				$("#subject_topic").text('')
			}
			else {
				$("#subject_topic").text('')
				$("#row").hide()
			}
			
		});
	
		 $(".navbar-nav li a").click(function (event) {
    // check if window is small enough so dropdown is created
    var toggle = $(".navbar-toggle").is(":visible");
    if (toggle) {
					if(! $(this).hasClass("dropdown-toggle"))
      $(".navbar-collapse").collapse('hide');
    }
  });

	$("#create_collection").on('click', () => {

		if($("#collection_name").val() == '') {
			return;
		}
		
		var col_name = $("#collection_name").val();
		data = '&col_name=' + encodeURIComponent(col_name);

		console.log(data)
		$.ajax({
			url: '/create_collection',
			type: 'GET',
			data: data,
			success: (result) => {
				console.log('create collection result: ' + result.created[0])
				if(result.created[0]) {
					var display_name = col_name
					col_name = col_name.replace(/ /g,'_');
					$("#technology_col").append('<li><a class="a5" data-toggle="tab" href="' + '#' + col_name + '" id="' + col_name + '">' + display_name + '</a></li>');
					//var tab = '#' + col_name + '_tab'
					var tab = '#' + col_name
					console.log('tab: ' + tab + ' tabs: ' + tabs);
					$(tab).bind('click', dataJobj, technology_click_handler);
					
				}
			}
		});
		
	})


	$("#delete_collection").on('click', () => {

		if($("#collection_name").val() == '') {
			return;
		}
		
		var col_name = $("#collection_name").val();
		data = '&col_name=' + encodeURIComponent(col_name);

		bootbox.confirm({
        message: "Are you sure you want to delete this technology",
        buttons: {
            confirm: {
                label: 'Yes',
                className: 'btn-success'
            },
            cancel: {
                label: 'No',
                className: 'btn-danger'
            }
        },
        callback: function (result) {
            if(result) {
				console.log(data)
				$.ajax({
					url: '/delete_collection',
					type: 'GET',
					data: data,
					success: (result) => {
						console.log('delete collection result: ' + result.deleted[0])
						if(result.deleted[0]) {
							col_name = col_name.replace(/ /g,'_');
							var li_to_be_deleted = '#' + col_name
							$(li_to_be_deleted).remove()
						}
					}
				});
			}
			else {
				
			}
        }
    });
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

		
	})


	
});

	function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("search_topic");
  filter = input.value.toUpperCase();
  table = document.getElementById("techlist");
  tr = table.getElementsByTagName("tr");
  //tr = tr.getElementsByTagName("a")
  //console.log(tr.innerText)
  //tr = table.getElementsByClassName("a4");
  //for (i = 0; i < tr.length; i++) {
	//console.log(tr[i].innerText)
	
  //}
  
  //tr = table.getElementsByTagName("tr")
  //console.log((tr[0].getElementsByClassName("td")).length)
  //tr[0].style.display = ""
  ///*
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
		//console.log('td: ' + td.innerText)
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        //console.log(td)
		tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
  //*/
}

</script>



 
