<html>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
			
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="landingpage1_cb.js"></script>
	<script type="text/javascript" src="nicEdit-latest.js"></script>
	
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<head>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audimat">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fontin-Sans">
	

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	 
	
</head>

	<style>
		#draggable { width: 750px; height: 750px; padding: 0.5em; }
		textarea { background-color: c0c0f0 }
		
		h1 {
		     font-family: 'Josefin', slab;
		     font-size: 48px;
		     text-shadow: 2px 2px 2px #aaa;
		}
		
		h5 {
		     font-family: 'Josefin', slab;
		     font-size: 14px;
		     
		}
		
		.a1 {
			  font-family: 'Anivers';
		     font-size: 18px;
		     text-shadow: 2px 2px 2px #aaa;
			 color: c0c0f0
			  
		}
		
		.a2 {
			  font-family: 'Josefin';
		     font-size: 18px;
		     text-shadow: 2px 2px 2px #aaa;
			 color: c0c0f0
			  
		}
		
		.a_topic {
			  font-family: 'Anivers';
		     font-size: 16px;
		     text-shadow: 1px 1px 1px #aaa;
			 color: FFD700
			  
		}
		
		.login_name {
			  font-family: 'Anivers';
		     font-size: 16px;
		     text-shadow: 1px 1px 1px #aaa;
			 color: c0c0c0
			  
		}
		
		.topics_des {
			  font-family: 'Anivers';
		     font-size: 16px;
		     text-shadow: 0px 0px 0px #aaa;
			 color: c0c0c0
			  
		}
		
		tr.spaceUnder>td {
			padding-bottom: 2em;
		}
		
		tr.spaceUnder1>td {
			padding-bottom: 0.4em;
		}

		tr.spaceUnder2>td {
			padding-bottom: 1.4em;
		}
		
		.textarea_nodrag {
			resize: none;
		}
		
			tr.spaceTop>td {
			padding-top: 8em;
		}
		
		.btn-transparent {
			background: transparent;
		    color: #c0c0c0;
		    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
		    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
		    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
			transition: background .2s ease-in-out, border .2s ease-in-out;
			border: 1px solid #c0c0f0;
		}

	    .btn-transparent:hover {
	        color: black;
	        background-color: c0c0e0;
		}
		
		.login-space {
			padding-top: 0px;
			padding-bottom: 60px;
		}
		
		.techs-div {
			
			padding-left: 600px;
		}
		
		.logo {
		     font-family: 'Josefin', slab;
		     font-size: 24px;
			 font-color: FFD700
		     text-shadow: 2px 2px 2px #aaa;
			 color: #93DC69
		}
		
		.logo1 {
		     font-family: 'Josefin', slab;
		     font-size: 24px;
			 font-color: 000000
		     text-shadow: 2px 2px 2px #aaa;
			 color: #93DC69
		}
		
	div1:empty:before {
  content:attr(data-placeholder);
}
		
	</style>
  

		
		
<body style="background-color:#1F1F1F">
	

		
<div class="container">

	
	<% include landingpage_header %>
	

	<div id=div_home>
	<div id=tech_tabs style="padding-left:0px;padding-bottom:0px;padding-top:0px;">
		<input type=hidden id=temp_var_hid>
	
		<div style="padding-left:0px;padding-bottom:10px;padding-top:0px;">
			<ul class="nav nav-pills" >
				<% technology_collection.collections.forEach(function(technology)  {%>
				<% var display_name %>
				<% var href = "#" + technology %>
				<% var id = technology + "_tab" %>
				<% if(technology == 'cplusplus') { %>
					<%	display_name = 'C++' %>
				<% } else { %>
					<% display_name = technology %>
				<% } %>
				<li><a class="a1" data-toggle="tab" href=<%= href %> id=<%= id %> ><%= display_name %></a></li>
				<% }) %>
			</ul>
		</div>
	</div>

	<br>
	
    <p id="subject_topic" style="width:1000px" class="tab-pane fade in active">
		<!--table width=70%>
			<tr>
				<td>
					<font class=topics_des>
						<p>
							C++ is a middle-level programming language developed by Bjarne Stroustrup starting in 1979 at Bell Labs. C++ runs on a variety of platforms, such as Windows, Mac OS, and the various versions of UNIX.
							This tutorial adopts a simple and practical approach to describe the concepts of C++.
							The main purpose of C++ programming is to add object orientation to the C programming language and classes are the central feature of C++ that supports object-oriented programming and are often called user-defined types.

							A class is used to specify the form of an object and it combines data representation and methods for manipulating that data into one neat package. The data and functions within a class are called members of the class.
						</p>
						<p>
							Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.
						</p>
						<p>
								How do humans make decisions? In everyday life, emotion is often the circuit-breaking factor in pulling the trigger on a complex or overwhelming decision.  But for experts making complex decisions that have long term consequences, it can’t be pure impulse.  High performers typically use the circuit breaker of “instinct”, “gut feel” or other emotions only once their expert, unconscious mind has absorbed all the facts required to make a decision.

Today there are dozens of messaging technologies, countless ESBs, and nearly 100 iPaaS vendors in market.   Naturally, this leads to questions about how to choose the right messaging technology for your needs - particularly for those already invested in a particular choice.  Do we switch wholesale?  Just use the right tool for the right job? Have we correctly framed the job at hand for the business need? Given that, what is the right tool for me?  Worse, an exhaustive market analysis might never finish, but due diligence is critical given the average lifespan of integration code.

This post endeavors give the unconscious, expert mind some even handed treatment to consider, starting with the most modern, popular choices today: RabbitMQ and Apache Kafka.  Each has it’s own origin story, design intent, uses cases where it shines, integration capabilities and developer experience. Origins are revealing about the overall design intent for any piece of software, and make good starting point.

RabbitMQ is a “traditional” message broker that implements variety of messaging protocols. It was one of the first open source message brokers to achieve a reasonable level of features, client libraries, dev tools, and quality documentation. RabbitMQ was originally developed to implement AMQP, an open wire protocol for messaging with powerful routing features. While Java has messaging standards like JMS, it’s not helpful for non-Java applications that need distributed messaging which is severely limiting to any integration scenario, microservice or monolithic. With the advent of AMQP, cross-language flexibility became real for open source message brokers.

Apache Kafka is developed in Scala and started out at LinkedIn as a way to connect different internal systems. At the time, LinkedIn was moving to a more distributed architecture and needed to reimagine capabilities like data integration and realtime stream processing, breaking away from previously monolithic approaches to these problems. Kafka is well adopted today within the Apache Software Foundation ecosystem of products and is particularly useful in event-driven architecture. 
							</p>
					</font>
				</td>
			</tr>
		</table-->
	</p>
	</div>
	

	<div id=div_about style="display:none;" class=topics_des>		
		It takes three things to market a brand successfully: strong branding, a consistent message, and a way with words. Well written copy helps to project a professional image and strengthen your reputation and, by using the same tone and repeating key phrases and wording across all your marketing materials, can increase brand recognition offline and improve your search engine optimisation (SEO) online. 
		Quality content is the number one driver of your search engine rankings. Well thought out copy can increase traffic to your website and social media accounts, build trust, generate new leads, and help you develop a closer relationship with your customers. Clumsily done, however, and it’s one of the fastest ways to turn off your audience.
	</div>

	<div id=div_contact style="display:none;" class=topics_des>		
		The Contacts Provider is a powerful and flexible Android component that manages the device's central repository of data about people. The Contacts Provider is the source of data you see in the device's contacts application, and you can also access its data in your own application and transfer data between the device and online services. The provider accommodates a wide range of data sources and tries to manage as much data as possible for each person, with the result that its organization is complex. Because of this, the provider's API includes an extensive set of contract classes and interfaces that facilitate both data retrieval and modification.
	</div>

		 <!--textarea style="width: 800px; height: 100px;" id="myArea2">
    </textarea><br /-->

</body>
</html>


	
<script>
	

          

				var myNicEditor = new nicEditor();
    
	
	
$(document).ready(function() {
		console.log('hello')
		bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
		
		//myNicEditor.panelInstance('myArea2')
		
		var tabs = ''
		var tech_collection = '<%= technology_collection.collections %>'
		tech_collection = tech_collection.split(',')
		
		tech_collection.forEach(function(technology) {
			if(tabs != '') {
				tabs += ','
			}
			//console.log(technology)
			tabs += '#' + technology + '_tab'
		})

		var dataJobj = { 'user' : '<%= user %>', 'editsave' : '<%= editsaveDisabled %>', 'delete' : '<%= deleteDisabled %>', 'topic_description_table' : '<%= topic_description_tableDisabled %>', 'tabs' : tabs }

		get_technology_topics(dataJobj);

		$("#home,#about,#contact").on('click', (event) => {
			var item = event.target.id;
			console.log('item: ' + item)

			$('#ul_bar li').each(function(i) {
				var id = $(this).attr('id'); // This is your rel value
				console.log(id)
				if("li_" + item == id) {
					$("#" + id).addClass('active')
				}
				else {
					$("#" + id).removeClass('active')
				}
			})
			
			$('#ul_bar li a').each(function(i) {
				var id = $(this).attr('id'); // This is your rel value
				console.log(id)
				if(item == id) {
					console.log('hiding: ' + "#div_" + item)
					$("#div_" + item).show()
				}
				else {
					console.log('showing: ' + "#div_" + item)
					$("#div_" + id).hide()
				}
			})
			
			if(item == 'home') {
				$("#subject_topic").text('')
			}
			
		});
	
		

		
});

</script>



<!--script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js">
	
            
          </script-->
	
	 <!--script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js">
            //<![CDATA[
            bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
            //]]>
          </script-->

 
