<html>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="landingpage1_cb.js"></script>
	
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
<head>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audimat">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="/resources/demos/style.css">	  
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fontin-Sans">
	

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
</head>

	<style>
		#draggable { width: 750px; height: 750px; padding: 0.5em; }
		textarea { background-color: c0c0f0 }
		
		h1 {
		     font-family: 'Josefin', slab;
		     font-size: 48px;
		     text-shadow: 2px 2px 2px #aaa;
		}
		
		h5 {
		     font-family: 'Josefin', slab;
		     font-size: 14px;
		     
		}
		
		.a1 {
			  font-family: 'Anivers';
		     font-size: 18px;
		     text-shadow: 2px 2px 2px #aaa;
			 color: c0c0f0
			  
		}
		
		.a_topic {
			  font-family: 'Anivers';
		     font-size: 16px;
		     text-shadow: 1px 1px 1px #aaa;
			 color: FFD700
			  
		}
		
		.login_name {
			  font-family: 'Anivers';
		     font-size: 16px;
		     text-shadow: 1px 1px 1px #aaa;
			 color: c0c0c0
			  
		}
		
		.topics_des {
			  font-family: 'Anivers';
		     font-size: 16px;
		     text-shadow: 0px 0px 0px #aaa;
			 color: c0c0c0
			  
		}
		
		tr.spaceUnder>td {
			padding-bottom: 2em;
		}
		
		tr.spaceUnder1>td {
			padding-bottom: 0.4em;
		}

		tr.spaceUnder2>td {
			padding-bottom: 1.4em;
		}
		
		.textarea_nodrag {
			resize: none;
		}
		
		.btn-transparent {
			background: transparent;
		    color: #c0c0c0;
		    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
		    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
		    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
			transition: background .2s ease-in-out, border .2s ease-in-out;
			border: 1px solid #c0c0f0;
		}

	    .btn-transparent:hover {
	        color: black;
	        background-color: c0c0e0;
		}
		
		.login-space {
			padding-top: 0px;
			padding-bottom: 60px;
		}
		
		.techs-div {
			
			padding-left: 600px;
		}
		
		.logo {
		     font-family: 'Josefin', slab;
		     font-size: 24px;
			 font-color: FFD700
		     text-shadow: 2px 2px 2px #aaa;
			 color: #93DC69
		}
		
		.logo1 {
		     font-family: 'Josefin', slab;
		     font-size: 24px;
			 font-color: FFD700
		     text-shadow: 2px 2px 2px #aaa;
			 color: #93DC69
		}
		
	</style>
  
<body style="background-color:#1F1F1F">
		
		
<div class="container">
	
	<% include landingpage_header %>
	
	<br>

	<div id=tech_tabs>
	<input type=hidden id=temp_var_hid>
	
	<ul class="nav nav-pills">
		<!--li><a class="a1" data-toggle="tab" href="#cplusplus" id=cplusplus_tab>C++</a></li>
	    <li><a class="a1" data-toggle="tab" href="#linux" id=linux_tab>Linux</a></li>
	    <li><a class="a1"data-toggle="tab" href="#dockers" id=dockers_tab>Dockers</a></li>
	    <li><a class="a1" data-toggle="tab" href="#nodejs" id=nodejs_tab>Nodejs</a></li>
		<li><a class="a1" data-toggle="tab" href="#nosql" id=nosql_tab>NoSql DB</a></li>
	    <li><a class="a1" data-toggle="tab" href="#rest" id=rest_tab>Rest Service</a></li>
	    <li><a class="a1" data-toggle="tab" href="#rabbitmq" id=rabbitmq_tab>RabbitMQ</a></li>
	    <li><a class="a1" data-toggle="tab" href="#aws" id=aws_tab>AWS</a></li-->
		
		
		<% technology_collection.collections.forEach(function(technology)  {%>
			<% var display_name %>
			<% var href = "#" + technology %>
			<% var id = technology + "_tab" %>
			<% if(technology == 'cplusplus') { %>
				<%	display_name = 'C++' %>
			<% } else { %>
				<% display_name = technology %>
			<% } %>
			<li><a class="a1" data-toggle="tab" href=<%= href %> id=<%= id %> ><%= display_name %></a></li>
		<% }) %>
		

		
	</ul>
	</div>

	<br>
	
    <p  id="subject_topic" class="tab-pane fade in active">
		<table width=70%>
			<tr>
				<td>
					<font class=topics_des>
						<p>
							C++ is a middle-level programming language developed by Bjarne Stroustrup starting in 1979 at Bell Labs. C++ runs on a variety of platforms, such as Windows, Mac OS, and the various versions of UNIX.
							This tutorial adopts a simple and practical approach to describe the concepts of C++.
							The main purpose of C++ programming is to add object orientation to the C programming language and classes are the central feature of C++ that supports object-oriented programming and are often called user-defined types.

							A class is used to specify the form of an object and it combines data representation and methods for manipulating that data into one neat package. The data and functions within a class are called members of the class.
						</p>
						<p>
							Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.
						</p>
					</font>
				</td>
			</tr>
		</table>
	</p>


</body>
</html>


<script>
	

$(document).ready(function() {
		console.log('hello')
		
		var tabs = ''
		var tech_collection = '<%= technology_collection.collections %>'
		tech_collection = tech_collection.split(',')
		
		tech_collection.forEach(function(technology) {
			if(tabs != '') {
				tabs += ','
			}
			//console.log(technology)
			tabs += '#' + technology + '_tab'
		})

		var dataJobj = { 'user' : '<%= user %>', 'editsave' : '<%= editsaveDisabled %>', 'delete' : '<%= deleteDisabled %>', 'topic_description_table' : '<%= topic_description_tableDisabled %>', 'tabs' : tabs }

		get_technology_topics(dataJobj);
		/*
		$.ajax({
			url: '/tech_collections',
			type: 'GET',
			data: '',
			success: (collection) => {
				//document.write('<li><a class="a1" data-toggle="tab" href="#aws" id=aws_tab>' + JSON.stringify(collection) + '</a></li>')
				var col_array = collection.collections;
				col_array.forEach(function(col) {
					console.log(col)
					var display_name

					if(col == 'cplusplus') {
						display_name = 'C++'
					}
					else {
						display_name = col
					}

					var li = '<li><a class="a1" data-toggle="tab" href="#' + col + '" id=' + col + '_tab>' + display_name + '</a></li-->'
					$("#tech_tabs ul").append(li);
				
					get_technology_topics();

				});
			}
		});
		*/

});

</script>

 
