<html>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>

	<script type="text/javascript" src="js/landingpage_cb.js"></script>
	<script type="text/javascript" src="js/landingpage_cbutils.js"></script>
	
	<script type="text/javascript" src="js/nicEdit-latest.js"></script>
	
	<link rel="stylesheet" href="css/bootstrap.css">

	<link rel="stylesheet" href="css/custom_styles.css">
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootbox.min.js"></script>
		
	<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Faster One' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Combo' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Federant' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Marck Script' rel='stylesheet'>
	<link href='https://fonts.googleapis.com/css?family=Arsenal' rel='stylesheet'>

	<script src="../term.js/src/term.js"></script>
	<script src="/socket.io/socket.io.js">
		
	</script>

<body style="background-color:#1F1F1F">
	

		
<div class="container">

	<div class="row" >
				
	<% include landingpage_header %>
	

	
		<div class="col-lg-12 col-" id=row style="padding-left:0px;padding-bottom:0px;padding-top:60px;">
			<input type=hidden id=temp_var_hid>
			<ul class="nav nav-pills" id=technology_col>
				<% technology_collection.collections.forEach(function(technology)  {%>
				<% var display_name %>
				
				<!--% var id = technology + "_tab" %-->
				<% var id = technology %>
				<% id = id.replace(/ /g,'_'); %>
				<% var href = "#" + id %>
				<% if(technology == 'cplusplus') { %>
					<%	display_name = 'C++' %>
				<% } else { %>
					<% display_name = technology %>
				<% } %>
				<li><a class="a5" data-toggle="tab" href=<%= href %> id=<%= id %> ><%= display_name %></a></li>
				<% }) %>
			</ul>
		</div>
	</div>
</div>

	<br>
	
	<div class="container" >
		<div class="row" >
	
		<div id="subject_topic"  class="col-lg-10 col-xs-12 tab-pane fade in active" style="background-color:;">
			Click on technology tabs to get list of topic discussions
		</div>
					
		<div class="a6 col-lg-9 " id=div_about style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;">
			It takes three things to market a brand successfully: strong branding, a consistent message, and a way with words. Well written copy helps to project a professional image and strengthen your reputation and, by using the same tone and repeating key phrases and wording across all your marketing materials, can increase brand recognition offline and improve your search engine optimisation (SEO) online. 
			Quality content is the number one driver of your search engine rankings. Well thought out copy can increase traffic to your website and social media accounts, build trust, generate new leads, and help you develop a closer relationship with your customers. Clumsily done, however, and it’s one of the fastest ways to turn off your audience.
		</div>

		<div class="a6 col-lg-9 " id=div_contact style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
			The Contacts Provider is a powerful and flexible Android component that manages the device's central repository of data about people. The Contacts Provider is the source of data you see in the device's contacts application, and you can also access its data in your own application and transfer data between the device and online services. The provider accommodates a wide range of data sources and tries to manage as much data as possible for each person, with the result that its organization is complex. Because of this, the provider's API includes an extensive set of contract classes and interfaces that facilitate both data retrieval and modification.
		</div>
					
		<div class="a6 col-lg-9 " id=div_admin_controls style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
			Admin controls appear here
		</div>
					
		<div class="a6 col-lg-9 " id=div_user style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
			User settings appear here
		</div>

		<div class="a6 col-lg-9 " id=div_add_admin_user style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
			Admin creates new admin user here
		</div>
		
		<div class="container a6 col-lg-9 " id=div_manipulate_technology style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
			<!--Add remove technology happens here-->
			<div class=row>
				<table class="a5" style="border-spacing: 5px; border-collapse: separate;">
					<tr>
						<td>
							<input type=text class="form-control" size=40 id=collection_name placeholder="Enter technology name">
						</td>
						<td align=right>
							<button class="btn btn-primary" id=create_collection>Create technology</button>
						</td>
						<td align=right>
							<button class="btn btn-primary" id=delete_collection>Delete technology</button>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="a6 col-lg-9 " id=div_check_messages style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
			Admin checks for user messages here
		</div>

		<div class="a6 col-lg-9 " id=div_services style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>
			You will see Different services here
		</div>
		
		<div class="a6 col-lg-9 " id=div_gnome_terminal style="padding-left:0px;padding-bottom:0px;padding-top:60px;display:none;" class=topics_des>

			<div class="col-lg-12" id=term_div style="background-color:;">
			</div>

			<script>
				
				if(socket == null)
				{
					//socket = io.connect('127.0.0.1', {'forceNew': true})
					socket = io.connect('', {'forceNew': true})
					$("#term_div").html('<table id=tab class="col-lg-12"><tr><td id=col></td></tr></table>')
					console.log('new socket')
				}
			
				socket.on('connect', on_socket_connect);

				function on_socket_connect()
				{
					  var term = new Terminal({
						cols: 120,
						rows: 36,
						useStyle: true,
						screenKeys: true,
						cursorBlink: true
					  });
				
					  term.on('data', function(data) {
						//console.log('emit : ' + data)
						socket.emit('data', data);
					  });
				
					  term.on('title', function(title) {
						document.title = title;
					  });
				
					  term.open(document.getElementById("col"));
				
					  term.write('\x1b[31mWelcome to programming terminal. Press ENTER to continue.!\x1b[m\r\n');
				
					  socket.on('data', function(data) {
						term.write(data);
						//console.log('data: ' + data + ' ' + data.length);
				
						if(data == 'exit') {
							$("#col").html('<b>Session over</b>')
							socket.disconnect()
							socket = null
						}
				
					  });
				
					  socket.on('disconnect', function() {
						term.destroy();
					    console.log('destroyed')
					  });

				}
			</script>
		</div>
		</div>
	</div>
				
</body>
</html>


	
<script>

	var myNicEditor = new nicEditor();
    
	
	
	$(document).ready(function() {
		console.log('hello')
		
		bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
		
		var tabs = ''
		var tech_collection = '<%= technology_collection.collections %>'
		tech_collection = tech_collection.split(',')
		
		tech_collection.forEach(function(technology) {
			if(tabs != '') {
				tabs += ','
			}
			console.log(technology)
			//tabs += '#' + technology + '_tab'
			technology = technology.replace(/ /g,'_');
			tabs += '#' + technology
		})

		console.log(tabs)
		
		var dataJobj = { 'user' : '<%= user %>', 'editsave' : '<%= editsaveDisabled %>', 'delete' : '<%= deleteDisabled %>', 'add_topic_table' : '<%= add_topic_tableDisabled %>', 'tabs' : tabs }

		get_technology_topics(dataJobj);

		$("#home,#about,#contact,#user,#add_admin_user,#manipulate_technology,#check_messages,#gnome_terminal").on('click', (event) => {
			var item = event.target.id;
			console.log('item: ' + item)

			$('#ul_bar li').each(function(i) {
				var id = $(this).attr('id'); // This is your rel value
				console.log(id)
				if("li_" + item == id) {
					$("#" + id).addClass('active')
				}
				else {
					$("#" + id).removeClass('active')
				}
			})
			
			$('#ul_bar li a').each(function(i) {
				var id = $(this).attr('id'); // This is your rel value
				console.log(id)
				if(item == id) {
					console.log('hiding: ' + "#div_" + item)
					$("#div_" + item).show()
				}
				else {
					console.log('showing: ' + "#div_" + item)
					$("#div_" + id).hide()
				}
			})
			
			if(item == 'home') {
				$("#row").show()
				$("#subject_topic").text('')
			}
			else if(item == 'gnome_terminal') {
				$("#subject_topic").text('')
				$("#row").hide()
				
				var arr = document.getElementById('div_gnome_terminal').getElementsByTagName('script')
				console.log(arr.length)
				for (var n = 0; n < arr.length; n++)
				    eval(arr[n].innerHTML)//run script inside div
				

			}
			else {
				$("#subject_topic").text('')
				$("#row").hide()
			}
			
		});
	
		 $(".navbar-nav li a").click(function (event) {
			var toggle = $(".navbar-toggle").is(":visible");
			if (toggle) {
				if(! $(this).hasClass("dropdown-toggle"))
					$(".navbar-collapse").collapse('hide');
			}
		});

		$("#create_collection").on('click', () => {

			if($("#collection_name").val() == '') {
				return;
			}
		
			var col_name = $("#collection_name").val();
			data = '&col_name=' + encodeURIComponent(col_name);

			console.log(data)
			$.ajax({
				url: '/create_collection',
				type: 'GET',
				data: data,
				success: (result) => {
				console.log('create collection result: ' + result.created[0])
				if(result.created[0]) {
					var display_name = col_name
					col_name = col_name.replace(/ /g,'_');
					$("#technology_col").append('<li><a class="a5" data-toggle="tab" href="' + '#' + col_name + '" id="' + col_name + '">' + display_name + '</a></li>');

					var tab = '#' + col_name
					console.log('tab: ' + tab + ' tabs: ' + tabs);
					$(tab).bind('click', dataJobj, technology_click_handler);
					
				}
				}
			});
		
		})


		$("#delete_collection").on('click', () => {

			if($("#collection_name").val() == '') {
				return;
			}
		
			var col_name = $("#collection_name").val();
			data = '&col_name=' + encodeURIComponent(col_name);

			bootbox.confirm({
			    message: "Are you sure you want to delete this technology",
			    buttons: {
			        confirm: {
			            label: 'Yes',
			            className: 'btn-success'
				    },
					cancel: {
					    label: 'No',
					    className: 'btn-danger'
					}
				},
				callback: function (result) {
				    if(result) {
					console.log(data)
					$.ajax({
						url: '/delete_collection',
						type: 'GET',
						data: data,
						success: (result) => {
						console.log('delete collection result: ' + result.deleted[0])
						if(result.deleted[0]) {
							col_name = col_name.replace(/ /g,'_');
							var li_to_be_deleted = '#' + col_name
							$(li_to_be_deleted).remove()
						}
						}
					});
					}
					else {
				
					}
				}
			});

		})

	});

	function myFunction() {
		var input, filter, table, tr, td, i;
		input = document.getElementById("search_topic");
		filter = input.value.toUpperCase();
		table = document.getElementById("techlist");
		tr = table.getElementsByTagName("tr");

		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[0];
			if (td) {
				if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}       
		}
}

</script>






 
